<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
			<listener class-name="com.cps.qa.ExtendReportListner.ExtendReporterListner" />
	</listeners>
	
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.cps.qa.testcases.TransactionTest"/>
      <class name="com.cps.qa.testcases.CustomerLoginTest"/>
      <class name="com.cps.qa.testcases.CustomersTest"/>
      <class name="com.cps.qa.testcases.AddCustomerTest"/>
      <class name="com.cps.qa.testcases.OpenAccountTest"/>
      <class name="com.cps.qa.testcases.AccountTest"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->